@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Pangolin');

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	border: 1px solid black;
}

body{
	font-family: perpetua, hoefler text, serif;
	line-height: 1.3;
	font-size: 16pt;
}

header{
	text-align: center;
	padding: 1em 0 .5em;
	background-color: #FFED74;
}

header nav a {
	margin: 0 1em;
	font-size: .8em;
	text-transform: lowercase;
	background-color: #E8C66A;
}

section, blockquote{
	padding: 1em 2em;
}

section{
	background-color: #E89C6C;
}

p{
	font-size: 1em;
}

h1{
	font-size: 2.3em;
	font-family: 'Cabin Sketch', cursive;
	color: #22694D;
}

h2 {
	font-family: 'Pangolin', cursive;
	font-size: 1.3em;
	color: #B27B78; /*red*/
		/*color: #8AB29A;*/  /*green*/
}

a {
	color: orange;
	text-decoration: none;
	/*border-bottom: .05em solid black;
	padding-bottom: .1em;*/
}

a:hover{
	color: #FF0000;
}

blockquote {
	background-color: #B27B78;
	color: #FFFFFF;
	font-size: 1.6em;
	line-height: 1.4em;
}

q {
	display:block;
}

ul{
	padding-left: 1em;
}

footer{
	text-align: center;
	padding: 1em 0;
	background-color: #FF957E;
}

footer a{
	text-transform: lowercase;
	margin: 0 1em;
	font-size: 1em;
	background-color: black;
}

aside{
	width: 33%;
}

#wrapper{
	width: 1024px;
	margin: 0 auto;
}

.slogan {
	font-style: none;
	font-size: 1.8em;
	font-family: 'Pangolin', cursive;
}

.testimonial{
	background-color: #8AB29A;
}

#intro{
	width: 66%;
}

#why_care {
	width: 66%;
}

#why_care p {
	font-size: 1em;
}

#why_care a {
	font-size: 1.3em;
	font-family: 'Pangolin', cursive;
}

#rationale{
	width: 100%;
}

#about_us{
	width: 66%;
}

#suppliers{
	width: 33%;
}

#partners{
	width: 33%;
}

#timesquote, cite {
	font-style: italic;
	color: #000000;
	font-size: 0.8em;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}