* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body{
	font-family: helvetica, arial, Serif;
	line-height: 1.3;
}

header{
	margin-top: 20px;
	margin-bottom: 5px;
}

section{
	padding:3em;
}

#intro {
	background:url(../images/meal_outdoor_popco.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height: 90vh;
	padding: 20px;
}

h1{
	font-size: 2.2em;
	color: #8AB29A;
}

.slogan {
	font-style: italic;
	font-size: 1.5em;
	margin-top: 20px
}

a {
	color: #B27B78;
	text-decoration: none;
}

li {
	margin-left:1.25em;
}

blockquote {
	background-color: #B27B78;
	color: #FFFFFF;
	padding:20px;
	font-style: italic;
	font-size: 1.5em;
}

#timesquote, cite {
	font-style: italic;
	color: #000000;
	font-size: 0.8em;
}

q {
	display:block;
}

h4{
	color: #8AB29A;
	font-size: 1.3em;
}

.testimonial{
	background-color: #8AB29A;
}

h5{
	color: #B27B78;
	font-size: 1.3em;
}

footer{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}





